# CODEOWNERS - Define code ownership for review requirements
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @CrowdStrike/chef-falcon-cs-maintainers
